@import '../../styles/global.scss';

.container-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 4rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
      font-weight: 700;
      font-size: 2.813rem;
      color: $text-title;
    }
  }
}